## Application
backend/app/config/
frontend/dist/

# Environments
.venv

# Python
__pycache__/

# Node
node_modules/

# Zensical Docs
site/

# OS Files
.DS_Store
.Spotlight-V100
.Trashes

# IDE
.vscode/
.idea/